<h2>Update Character!</h2>

<%= form_tag("/houses/#{@house.id}/characters/#{@character.id}/", method: "patch") do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>
  <br>
  <p> House: </p>
  <% @houses.each do |house| %>
  <%= label_tag("#{house.name}") %>
  <%= radio_button_tag(:new_house_id, house.id) %>
  <% end %>
  <br>
  <br>
  <%= submit_tag "Create character"%>
  <% end %>
